$font-family: 'Inter', Arial, sans-serif;

$fw-regular: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 800;

$fs-small: 0.833rem;
$fs-regular: 1rem;
$fs-large: 2rem;
$fs-h5: 0rem;
$fs-h4: 0rem;
$fs-h3: 0rem;
$fs-h2: 0rem;
$fs-h1: 0rem;